<div class="well well-sm app-blue">
   <h3 ng-show="vm.person.id">Update Contact</h3>
   <h3 ng-show="!vm.person.id">New Contact</h3>

   <!--
      This is a responsive form. At small sizes the label will stack above its control.

      Why does the formatting go bonkers at > 1200 width?
   -->
   <form name="personForm" class="form-inline">

      <div class="row">
         <div class="col-xs-12">

            <!-- First Name -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.firstName.$invalid }">
               <label for="firstName" class="control-label col-lg-2">First Name:</label>

               <div class="col-lg-4">
                  <input type="text" id="firstName" name="firstName" ng-model="vm.person.firstName"
                         class="form-control" placeholder="First name" minlength="2" ng-maxlength="20" focus required>

                  <!-- Error messages using angular-messages. Field is required and length between 2 & 20 chars -->
                  <div ng-messages="personForm.firstName.$error" ng-if="personForm.firstName.$dirty" class="text-danger">
                     <div ng-message="required">A first name is required</div>
                     <div ng-message="minlength">First name is too short</div>
                     <div ng-message="maxlength">First name is too long</div>
                  </div>

               </div>
            </div>

            <!-- Last Name -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.lastName.$invalid }">
               <label for="lastName" class="control-label col-lg-2">Last Name:</label>
               <div class="col-lg-4">
                  <input type="text" id="lastName" name="lastName" ng-model="vm.person.lastName"
                         class="form-control" placeholder="Last name" minlength="2" ng-maxlength="20" required>

                  <div ng-messages="personForm.lastName.$error" ng-if="personForm.lastName.$dirty" class="text-danger">
                     <div ng-message="required">A last name is required</div>
                     <div ng-message="minlength">Last name is too short</div>
                     <div ng-message="maxlength">Last name is too long</div>
                  </div>

               </div>
            </div>
         </div>
      </div>

      <!-- Street -->
      <div class="row">
         <div class="col-xs-12">
            <div class="form-group">
               <label for="street" class="control-label col-lg-3">Street:</label>
               <div class="col-lg-9">
                  <input type="text" id="street" name="street" class="form-control" placeholder="Street"
                         ng-model="vm.person.address.street">
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-12">

            <!-- City -->
            <div class="form-group">
               <label for="city" class="control-label col-lg-1">City:</label>
               <div class="col-lg-3">
                  <input type="text" id="city" name="city" ng-model="vm.person.address.city"
                         class="form-control" placeholder="City">
               </div>
            </div>

            <!-- State -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.state.$invalid }">
               <label for="state" class="control-label col-lg-1">State:</label>
               <div class="col-lg-3">
                  <input type="text" id="state" name="state" ng-model="vm.person.address.state"
                         class="form-control" placeholder="State" minlength="2" ng-maxlength="2">
               </div>

                  <div ng-messages="personForm.state.$error" ng-if="personForm.state.$dirty" class="text-danger">
                     <div ng-message="minlength">State is too short</div>
                     <div ng-message="maxlength">State is too long</div>
                  </div>
            </div>

            <!-- Zip TODO validation should be length = 0 or 5 -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.zip.$invalid }">
               <label for="zip" class="control-label col-lg-1">Zip:</label>
               <div class="col-lg-3">
                  <input type="text" id="zip" name="zip" ng-model="vm.person.address.zip"
                         class="form-control" placeholder="Zip" minlength="5" ng-maxlength="5">

                  <div ng-messages="personForm.zip.$error" ng-if="personForm.zip.$dirty" class="text-danger">
                     <div ng-message="minlength">Zip is too short</div>
                     <div ng-message="maxlength">Zip is too long</div>
                  </div>

               </div>
            </div>

         </div>
      </div>

      <div class="row">
         <div class="col-xs-12">

            <!-- Home Phone -->
            <div class="form-group">
               <label for="homePhone" class="control-label col-lg-2">Home Phone:</label>
               <div class="col-lg-4">
                  <input type="text" id="homePhone" name="homePhone" ng-model="vm.person.homePhone"
                         class="form-control" placeholder="Home Phone">
               </div>
            </div>

            <!-- Mobile Phone -->
            <div class="form-group">
               <label for="mobilePhone" class="control-label col-lg-3">Mobile Phone:</label>
               <div class="col-lg-4">
                  <input type="text" id="mobile" name="mobile" ng-model="vm.person.mobile"
                         class="form-control" placeholder="Mobile Phone">
               </div>
            </div>

         </div>
      </div>

      <div class="row">
         <div class="col-xs-12">

            <!-- email -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.email.$invalid }">
               <label for="email" class="control-label col-lg-2">eMail:</label>
               <div class="col-lg-4">
                  <input type="email" id="email" name="email" ng-model="vm.person.email"
                         class="form-control" placeholder="eMail">
                  <div ng-messages="personForm.email.$error" ng-if="personForm.email.$dirty" class="text-danger">
                     <div ng-message="email">Your email address is invalid</div>
                  </div>
               </div>
            </div>

            <!-- website -->
            <div class="form-group" ng-class="{ 'has-error' : personForm.website.$invalid }">
               <label for="website" class="control-label col-lg-2">Website:</label>
               <div class="col-lg-4">
                  <input type="url" id="website" name="website" ng-model="vm.person.website"
                         class="form-control" placeholder="Website">
                  <div ng-messages="personForm.website.$error" ng-if="personForm.website.$dirty" class="text-danger">
                     <div ng-message="url">Your website is invalid</div>
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="row">
         <p>
      </div>

      <!-- Buttons -->
      <div class="row">
         <div class="col-xs-12">
            <span ng-show="vm.person.id">
               <button type="button" id="btnSave"
                       class="btn btn-primary"
                       ng-disabled="personForm.$invalid"
                       ng-click="vm.save()" >
                  Save
               </button>
            </span>

            <!-- Show this button when vm.person.id is blank. This happens when adding. -->
            <span ng-hide="vm.person.id">
               <button type="button" id="btnAdd"
                       class="btn btn-primary"
                       ng-disabled="personForm.$invalid"
                       ng-click="vm.save()">
                  Add
               </button>
            </span>

            <!-- Show this button when id is blank. This happens when adding. -->
            <button type="button" id="btnDelete"
                    class="btn btn-danger"
                    ng-click="vm.delete()"
                    ng-show="vm.person.id">
               Delete
            </button>
         </div>
      </div>

   </form>

</div>
