
<h3>FAQs</h3>

<p></p>

<div>
   <h4>What is this application</h4>
   This is a sample AngularJS client application supporting multiple middle tier/back ends. <a href="http://firebase.com">Firebase</a>,
   Elastic and Java middle tier/RDBMS. These architectures are incorporated because:

   <ul>
      <li>Firebase is a commercial service that makes application and NoSQL hosting trivial and has a generous free plan.
      <li>Elastic makes a great development platform as it's the easiest to download, install, configure and run. It hosts
          data and has application hosting via its plugin architecture. This allows the repo to concentrate on sharing
          AngularJS knowledge and be the basis for business/CRUD applications.
      <li>Java middle tier with a RDBMS backend happens to be the architecture of my day job.
   </ul>
   Platform specific notes and artifacts are contained in the doc folder.

   <p>
   This example application demonstrates CRUD (Create, Report, Update and Delete) operations on a simple data model
   of a person (name, address, phone numbers...). It's a SPA (Single Page Application) built with the AngularJS 1.x
   framework and Angular Material Design. AngularJS is the Single Page Application framework and Material Design provides
   a library of rich widgets.
   </p>

   <p>
   This is setup as a NetBeans project. While any IDE or text editor can be used to work with the source of this
   application, it's setup with the Netbeans default folder structure.
   </p>


</div>
