<div class="well well-sm app-blue">

   <table id="listTable"
          ng-table="vm.tableParams"
          class="table table-condensed table-bordered table-hover table-striped"
          show-filter="false"
          >

      <!-- ng-table puts the data in $data -->
      <tr ng-repeat="person in $data">

         <td id="cellLastName" title="'Last Name'" filter="{ lastName: 'text'}" sortable="'lastName'">
            <a href="#/view/{{person.id}}">{{person.lastName}}</a>
         </td>

         <td id="cellFirstName" title="'First Name'" filter="{ firstName: 'text'}" sortable="'firstName'">
            <a href="#/view/{{person.id}}">{{person.firstName}}</a>
         </td>

      </tr>

   </table>

</div>