<div class="well well-sm app-blue">
   <h3>{{vm.person.firstName}} {{vm.person.lastName}}</h3>

   <h4>Address</h4>
   {{vm.person.address.street}}<br>
   {{vm.person.address.city}} {{vm.person.address.state}} {{vm.person.address.zip}}<br>

   <h4>Phone</h4>
   Home {{vm.person.homePhone}}<br>
   Mobile {{vm.person.mobile}}<br>

   <h4>Electronic</h4>
   eMail {{vm.person.email}}<br>
   Website {{vm.person.website}}<br>

    <button type="button" id="btnEdit"   ng-click="vm.edit()"   class="btn btn-primary">Edit</button>
    <button type="button" id="btnDelete" ng-click="vm.remove()" class="btn btn-danger">Delete</button>
</div>
